.movie_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: auto;
}

#movie_name{
    width: 300px;
}
.movie_details {
    margin: 10px;
    list-style: none;
    width: 92px;
    height: auto;
    font-size: small;
    font-weight: 600;
}

.blank_div {
    height: 138px;
    width: 92px;
    border: 1px solid #3f3f46;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center;
    font-size: small;
    font-weight: 600;
}

h1 {
    color: #ffffff;
    font-size: 22px;
    text-shadow: 1px 1px 2px #152238;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #152238;
    border: none;
    border-radius: 15px;
    margin: 10px;
}

.button:hover {
    background-color: gray;
}

.button:active {
    background-color: #152238;
}
