{% extends "base.html" %}

{% block content %}
<section>
    <div class="flex justify-between items-end mb-8">
        <h1 class="text-3xl font-bold border-l-4 border-red-600 pl-4">
            No Movie was entered.
        </h1>
    </div>
    <div class="col-span-full flex flex-col items-center justify-center py-20 text-center">
            <ion-icon name="alert-circle-outline" class="text-6xl text-gray-700 mb-4"></ion-icon>
            <h2 class="text-2xl font-bold">Please enter a movie title</h2>
            <a href="/" class="mt-8 bg-red-600 px-6 py-2 rounded-full text-white font-bold hover:bg-red-700 transition">Try another search</a>
    </div>
</section>
{% endblock %}