<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Codej&#275;'s TMDB Movie Explorer</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body class="bg-gray-950 text-white flex flex-col min-h-screen font-sans">
    {% include 'components/_header.html' %}

    <main class="flex-grow container mx-auto px-4 py-4">
      {% block content %} {% endblock %}
    </main>

    {% include 'components/_footer.html' %}

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  
  </body>
</html>
