<header
  class="bg-gray-900/80 backdrop-blur-md sticky top-0 z-50 border-b border-gray-800"
>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-20 items-center justify-between gap-4">
      <a
        href="/"
        class="flex items-center gap-2 hover:opacity-80 transition shrink-0"
      >
        <ion-icon name="videocam" class="text-red-600 text-3xl"></ion-icon>

        <div class="flex flex-col leading-[0.9]">
          <span class="text-lg md:text-xl font-bold tracking-tighter"
            >Codej&#275;</span
          >
          <span
            class="text-[10px] md:text-xs font-bold tracking-tighter text-gray-400"
            >Movie Search</span
          >
        </div>
      </a>

      {% include 'components/_category_dropdown.html' %} 
    {% include 'components/_search_bar.html' %}
      {% include'components/_nav.html' %}
    
    </div>
  </div>
</header>
