<div class="flex flex-col lg:flex-row items-start lg:items-center gap-4">
  <a
    href="/"
    class="px-4 py-1.5 rounded-full text-sm font-bold transition-all duration-300
       {{ 'bg-gray-800/80 text-white active-glow' if request.path == '/' else 'text-gray-400 hover:text-white hover:bg-gray-800/50' }}"
  >
    Home
  </a>

  <a
    href="/watchlist"
    class="px-4 py-1.5 rounded-full text-sm font-bold flex items-center gap-2 transition-all duration-300
       {{ 'bg-gray-800/80 text-white active-glow' if request.path == '/watchlist' else 'text-gray-400 hover:text-white hover:bg-gray-800/50' }}"
  >
    Watchlist
    <ion-icon
      id="watchlistBadge"
      name="bookmark-outline"
      class="text-red-600"
    ></ion-icon>
  </a>

  <a
    href="/watched"
    class="px-4 py-1.5 rounded-full text-sm font-bold flex items-center gap-2 transition-all duration-300
       {{ 'bg-gray-800/80 text-white active-glow' if request.path == '/watched' else 'text-gray-400 hover:text-white hover:bg-gray-800/50' }}"
  >
    Watched
    <ion-icon
      id="watchedBadge"
      name="checkmark-circle-outline"
      class="text-green-500"
    ></ion-icon>
  </a>
</div>
